.tab_selected {
	position: relative;
	opacity: 0.9;
}

.tab_selected::after {
	content: '';
	position: absolute;
	height: 3px;
	width: calc(100% + 20px);
	left: -10px;
	bottom: 0;
	border-radius: 5px;
	background-color: var(--color-primary);
}

.tab_not_selected {
	opacity: 0.3;
}

.tab_not_selected:hover {
	opacity: 0.9;
}
