.container {
	position: relative;
	display: flex;
	align-items: center;
	height: 50px;
	margin-bottom: 5px;
	margin-left: 0;
	cursor: pointer;
}

.item {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #f4f4f4;
}

.icons {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 100%;
	background-color: #462b45;
	pointer-events: none;
}

.icons img {
	position: absolute;
	width: 30px;
}

.names {
	margin-left: 10px;
	font-weight: 500;
	letter-spacing: 1.2px;
}
