.container {
	position: fixed;
	display: flex;
	min-height: 100vh;
	color: #f4f4f4;
	background-color: #462b45;
}

.sidenav {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 100vh;
	padding-top: 70px;
}

.icons {
	position: absolute;
	display: flex;
	align-items: center;
	top: 0;
	left: 0;
	width: 55px;
	height: 100vh;
}

.menu {
	position: relative;
	width: 100%;
	list-style: none;
}

.selected {
	position: absolute;
	height: 50px;
	width: 5px;
	top: 0;
	left: 0;
	border-radius: 0 10px 10px 0;
	background-color: var(--background-secundary);
	pointer-events: none;
	opacity: 0.9;
	transition: top 0.5s ease;
}
